*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}
a{
    text-decoration: none;
}

header{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color:#eff4fd; */
}
nav{
    display: flex;
    width: 97%;
    margin: auto;
    padding: 20px 0px;
    align-items: center;
    justify-content:space-between;
    
   
}
nav h2 a{
   text-decoration: none;
  
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    
    font-weight: bold;
}
main{
    margin-left: 8%;
    margin-top: 15%;
}
section h1{
    font-size: 50px;
    margin-bottom: 20px;
}
span{
    color:rgb(138, 94, 12);
}
section p{
   color: #e20909; 
   line-height: 23px;
   margin-bottom: 20px;
   font-size: 20px;
}
.cv{
    padding: 15px;
    border-radius: 20px;
    background-color: black;
    
}
.cv a {
    font-size: 20px;
    color: white;
}

aside{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
    /* justify-content: center; */
    /* align-items: center; */
}
aside img{
    height: 100%;
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s,left 1s;
}
aside:hover .bg{
    bottom:40px;
}

aside:hover .myself{
    left:56%;
}
.myself{
    width: 60%;
    height: 60%;
    top: 120px;
    left: 50%;
    background-color:rgb(188, 177, 177);
   
   

}
.bg{
    border-radius: 100px;
   
}